@media only screen and (max-width:668px) {
    #header {
        width: 90%;
    }

    .navbar {
        display: block;

    }

    .navbar img {
        margin-top: 0px;
        Width: 140px;
    }

    .navbar .title {
        font-size: 14px;
        color: #3A3A3A;
        justify-content: center;
    }

    nav ul {
        display: block;
        margin-top: 10px;
        text-align: center;

    }

    nav ul li {
        list-style-type: none;
    }

    li a {
        text-decoration: none;
        /* margin-left: 55px; */
        font-family: 'Google Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        color: #212832;
        font-family: 'Poppins', sans-serif;
    }


    li a:hover {
        border: 1px solid #212832;
        border-radius: 5px;
        padding: 9px 21px;
    }

    /* banner start  */
    .banner {
        display: block;



    }

    .description .pera1 {
        margin-top: 148px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: #DF6951;
    }

    .description .pera2 {
        margin-top: 24px;
        font-family: 'Volkhov', serif;
        font-weight: 700;
        font-size: 84px;
        letter-spacing: -0.04em;
        color: #181E4B;
        width: 545px;
        height: 267px;
    }

    .description .pera3 {

        top: 574.53px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #5E6282;
    }


    .more {
        display: flex;
        margin-top: 32px;
    }

    .more button {
        background-color: orange;
        color: white;
        border: none;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        width: 170px;
        height: 57.87px;

    }

    .more .play {
        width: 100px;
        margin-top: -10px;

    }

    .more .play-text {
        width: 92px;
        height: 25.08px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #686D77;
    }

    .banner-pic {
        position: relative;
    }

    .banner-pic .lady {
        margin: 0;
        padding: 0;
    }

    .plane1 {
        position: absolute;
        top: 66px;
        left: 36px;
    }

    .plane2 {
        position: absolute;
        top: 80px;
        left: 634px;
    }


}